{% extends 'user/user_profile.html'%}

{% block user_actions %} 
	
    <div class="tab-pane animated fadeInRight" id="user-activities">
        <div class="scroll-user-widget">
            <ul class="media-list">
                <li class="media">
                    <a href="#fakelink">
                    <p><strong>John Doe</strong> Uploaded a photo <strong>"DSC000254.jpg"</strong>
                    <br><i>2 minutes ago</i></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}