{% extends 'user/user_base.html'%}

{% block user_content %}
<div class="container">
<div class="content-page">
    <div class="profile-banner" style="background:url(https://bootdey.com/img/Content/bg1.jpg);">
		<div class="col-sm-3 avatar-container">
			<img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar" alt="User avatar">
		</div>
		<div class="col-sm-12 profile-actions text-right">
			<a href="/" type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i> return to blog</a>
		</div>
	</div>
    <div class="content">

		<div class="row">
			<div class="col-sm-3">
				<!-- Begin user profile -->
				<div class="text-center user-profile-2" style="margin-top:120px">
					<ul class="list-group">
                      <li class="list-group-item">
    					<h4>Howdy, <b>Jane Doe</b></h4>
						<h5><small>kevinleparwa@gmail.com</small></h5>
					  </li>
				
					  <li class="list-group-item">
						<span class="badge">245</span>
						posts
					  </li>

					</ul>
				</div>
			</div>
			
			<div class="col-sm-9">
				<div class="widget widget-tabbed">
					<nav class="nav nav-pills nav-justified">
						<a class="nav-item nav-link" href="{{url_for('user.get_posts')}}" data-toggle="tab"><i class="fa fa-user"></i> my posts</a>
						<a class="nav-item nav-link" href="{{url_for('user.create_post')}}" data-toggle="tab"><i class="fa fa-pencil"></i> create post</a>
						<a class="nav-item nav-link" href="{{url_for('user.blog_activities')}}" data-toggle="tab"><i class="fa fa-laptop"></i>  blog activities</a>
					  </nav> 
					<div class="card">
						<div class="card-body">
							{% block user_actions %} 
						
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}