{% extends 'user/user_profile.html'%}

{% block user_actions %} 
<div class="tab-pane animated fadeInRight" id="mymessage">
    <div class="scroll-user-widget">
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="#fakelink">
              <img class="media-object user-message" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a href="#fakelink">John Doe</a> <small>Just now</small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </li>
        </ul>
    </div>
</div>
{% endblock %}