{% extends 'index.html'%}

{% block content %}
<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                {% for post in posts %}
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            {% if post.image %}
                            <img class="d-block img-fluid" src="{{post.image}}" alt="image">
                            {% elif post.image !='.jpg' %}
                            <img class="d-block img-fluid" src="https://via.placeholder.com/800x280/FFB6C1/000000" alt="image">
                            {% endif %}
                        </div>
                        <h3><a href="blog-details.html">{{post.title}}</a></h3>
                        <p>{{post.summary}}</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="" class="btn btn-outline-secondary btn-sm">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href=""></a><small>comment</small></a></li>
                            <li>posted {{post.posted}}</li>
                            <li>author {{post.author}}</li>
                        </ul>
                    </div>
                </div> 
                {% endfor %} 

            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="body search">
                        <div class="input-group m-b-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">                                    
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="header">
                        <h2>Quote of the day</h2>                        
                    </div>
                    <div class="body widget popular-post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_post">
                                    <p class="m-b-0">{{quote.quote}}</p>

                                    <span><i><strong>by:  {{quote.author}}</strong></i></span>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <
                <div class="card">
                    <div class="header">
                        <h2>Email Newsletter <small>Get our products/news earlier than others, let’s get in touch.</small></h2>
                    </div>
                    <div class="body widget newsletter">                        
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Email">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}